extend layout

block content
  p
    | Welcome to the vanbellenet website
  p
    | Yet another hvanbelle website 
  p
    | Donec congue lacinia dui, a porttitor
    | lectus condimentum laoreet. Nunc eu
    | ullamcorper orci. Quisque eget odio ac
    | lectus vestibulum faucibus eget in metus.
    | In pellentesque faucibus vestibulum. Nulla
    | at nulla justo, eget luctus tortor.

block sidebar
  .widget
    h1 vanbellenet.be
    p
      | Yet Another hvanbelle Website

