extend layout

block linkbar
  .widget
    h1 English
    p
      a(href='/jokes/is_hell_exothermic_or_endothermic') Is Hell Exothermic or Endothermic?
    p
      a(href='/jokes/young_monk') A new young monk arrives at the monastery
    p
      a(href='/jokes/young_monk') Is Their a Santa Claus?
    p
      a(href='/jokes/young_monk') Heavy traffic?
    p
      a(href='/jokes/young_monk') Losing things!
    p
      a(href='/jokes/young_monk') The Philogiston Theory of Electronics
    p
      a(href='/jokes/young_monk') My girlfriend
    p
      a(href='/jokes/young_monk') The Dark Sucker Theory
    p
      a(href='/jokes/young_monk') A Calculus final
    p
      a(href='/jokes/young_monk') I would do anything
    p
      a(href='/jokes/young_monk') 50 Fun Things To Do In A Final That Does Not Mater
  .widget
    h1 Nederlands
    p
      a(href='/jokes/young_monk') Pientere onderwijzeres
    p
      a(href='/jokes/young_monk') Vuile dingen
    p
      a(href='/jokes/young_monk') Moeilijk geval
    p
      a(href='/jokes/young_monk') Dokter, ik kom niet meer!
  .widget
    h1 Français
    p
      a(href='/jokes/young_monk') Les Amants
    p
      a(href='/jokes/young_monk') Magasin pour animaux
    p
      a(href='/jokes/young_monk') ça commence
