!!!5
html
  head
    title #{title} - Another hvanbelle Site
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 Welcom@vanbellenet.be
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p 
        | Do you have questions or comments regarding the website? Please email hvanbelle@gmail.com - 
        a(href='/') Home
‌

