extend layout

block content
  p
    | A new young monk arrives at the monastery. 
    | He is assigned to help the other monks in copying the old canons and laws of the church by hand. 
    | He notices, however, that all of the monks are copying from copies, not from the original manuscript.
    
  p
    | The Abbot says, "We have been copying from the copies for centuries, but you make a good point, my son". 
    | So, he goes down into the dark caves underneath the monastery where the original manuscript is held in a locked vault that hasn't been opened for hundreds of years. 
    | Hours go by and nobody sees the old abbot.
    
  p
    | Eventually the young monk gets worried and goes downstairs to look for him. 
    | He sees him banging his head against the wall. His forehead is all bloody and bruised and he is crying uncontrollably. 
    | The young monk asks the old abbot, "What's wrong, father?"

  p
    | In a choking voice, the old abbot replies: "The word is celebrate, not celibate!"

block sidebar
  .widget
    h1 Young Monk
    p
      | A new young monk arrives at the monastery
